@mixin Button($bg-color, $bg-color-hover) {
  background-color: $bg-color;

  &:hover {
    background-color: $bg-color-hover;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, div, span, input, textarea, button {
  margin: 0;
  font-family: 'Open Sans Condensed';
}

.btn {
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border: none;
  background-color: #a5a5a5;
  transition: all .2s ease;
  cursor: pointer;

  &-yes {
    @include Button(#13a011, #118a0f);
  }

  &-no {
    @include Button(#a01111, #820e0e);
  }
}